.shop-category {
  padding-bottom: 60px;
}

.shopcategory-banner {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.shopcategory-indexsort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 140px;
}

.shopcategory-indexsort p span {
  font-weight: 600;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #888;
}

.shopcategory-products {
  margin: 20px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0;
  padding: 15px 40px;
  width: fit-content;
  border-radius: 50px;
  background-color: #ededed;
  color: #787878;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .shopcategory-banner {
    width: 90%;
    margin: 20px auto;
  }
  .shopcategory-indexsort {
    width: 90%;
    margin: auto;
  }
  .shopcategory-sort {
    padding: 5px 10px;
    font-size: 12px;
  }
  .shopcategory-indexsort p {
    font-size: 12px;
  }
  .shopcategory-products {
    width: 90%;
    margin: 20px auto;
    row-gap: 30px;
  }
  .shopcategory-products .item {
    margin: auto;
  }
  .shopcategory-loadmore{
    margin: 80px auto;
    padding: 13px 30px;
  }
}


@media (max-width: 800px) {
  .shopcategory-banner {
    width: 95%;
  }
  .shopcategory-indexsort {
    width: 95%;
  }
  .shopcategory-products {
    width: 95%;
  }
  .shopcategory-loadmore{
    margin: 60px auto;
    font-size: 14px;
    padding: 12px 25px;
  }
}

@media (max-width: 500px) {

  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}